body {
    margin:0;
    padding:0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: black;
    color:rgb(161, 143, 40);
 }

 .navbar {
    background-color: darkblue;
 }

 .nav-bar a {
    padding-right: 15px;
    font-size : 0.7rem;
 }
 
 a {
    color: rgb(161, 143, 40);
    text-decoration:none;
    cursor: pointer;
 }
 a:hover {
     color: white;
 }

 header {
     display: flex;
     flex-direction: column;
     background-image: url("../image/hero.c4676c97406d.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
 }

 .header-class {
     justify-content: center;
     align-items: center;
     margin: auto;
 }

 h2 {
     font-size: 2.5rem;
     font-weight: 700;
     text-align: center;
 }

 p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

 h4 {
    font-size: 1rem;
    font-weight: 500;
    padding-left: 15px;
 }
 
 ul {
     list-style-type: disc;
 }

 li {
     color: rgb(161, 143, 40);
     font-size: 0.9rem;
 }

 h6 {
     color: white;
     font-size: 0.3rem;
 }

 .post-content p {
     font-size: 0.7rem;
     text-align: justify;
 }

 .text-section p {
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .post-image {
     align-self: center;
 }

 .align-left {
     text-align: left;
     font-size: 0.7rem;
 }
 
 